*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
header{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("photo/cinema.jpg");
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 40px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 16px;
}
.nav-area li a:hover{
    background: #fff;
    color: #333;
    transition: 1s;
}
.logo{
    width: 100px;
    float: left;
    height: auto;
}
.welcome-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}
.welcome-text h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}
.welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
    cursor: pointer;
}
.welcome-text a:hover{
    background: #fff;
    color: #333;
    transition: 1s;
}
/*-----------------------------------film---------------------------*/

.film{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: rgb(141, 140, 140);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
#row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.film-col{
    flex-basis: 31%;
    background:  #a01616 ;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 40px 22px;
    box-sizing: border-box;
}
.film-col a{
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

/*------------------------producteur---------------------------*/
.producteur{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.producteur-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.producteur-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(88, 17, 17, 0.6)
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute; 
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.bio{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.bio h3{
    font-size: 36px;
    font-weight: 600;
}
.bio p{
    color: #333;
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

/*----------------------------------- call to action ---------------------------*/

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("photo/studio.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
.cta a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
    cursor: pointer;
}
.cta a:hover{
    background: #fff;
    color: #333;
    transition: 1s;
}

/*----------------------------------- footer ---------------------------*/

#footer{
    background-color:#000;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center;
}

form{
    margin: 0 auto;
    max-width: 800px;
}
